@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,700|Roboto+Condensed:700|Vollkorn:700italic);

/* reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html { font-size: 62.5%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
.no-list, .unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong {font-weight: bold;}
/* @end reset */

html { font-size: 62.5%; }
body {
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.4;
  color: #707070;
  padding: 0;
  margin: 0;
}

.hero {
	background: url(../../assets/images/hero.jpg) no-repeat center top;
	height: 596px;
	width: 100%;
}		  

.page-title {
  /*text-indent: -9999px;*/
  /*overflow: hidden;*/
  /*background: url(../../assets/images/riscit-title.png) no-repeat 0 0;*/
  width: 450px; 
  height: 210px;
  margin-top:60px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:0px;
}

.page-title img{
  width:95%;
}
.page-tagline {
  color: white;
  text-shadow: -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000, 1px 1px 2px #000;
  font-size: 3.5rem;
  text-align: center;
}
.page-intro {
  padding: 24px 40px 40px 40px; 
  background: #fff; 
  box-shadow: 0 0 2px 2px #dedede;
  border-radius: 10px;
  margin-top: -85px;
  margin-bottom: 45px;
  font-size: 1.8rem;
  font-weight: 300;
}
.page-intro h2 {
  color: #3584dc; 
  text-align: center; 
  font-size: 3.5rem;
  font-weight: 400;
  margin: 0 0 10px 0;
}




/* email signup */
.email-signup {
  padding-top: 14px; 
  padding-bottom: 14px; 
  background: #4570a1;
  color: #ffffff;
}
.email-signup label {
  font-size: 1.8rem;
  margin-right: 10px;
}
.email-signup .email-field {
  width: 250px;
  padding: 5px;
  color: #a4a4a4;
  font-size: 1.4rem;
  font-family: "Roboto";
}
.email-signup .submit {
  background: #e2e2e2;
  background: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(#969696));
  background: -moz-linear-gradient(top,  #e2e2e2,  #969696);
  background: -webkit-linear-gradient(top,  #e2e2e2 0%,#969696 100%);
  background: -o-linear-gradient(top,  #e2e2e2 0%,#969696 100%);
  background: -ms-linear-gradient(top,  #e2e2e2 0%,#969696 100%);
  background: linear-gradient(#e2e2e2 0%,#969696 100%);
  color: #444444;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-family: "Roboto Condensed";
  letter-spacing: 0.15em;
  font-weight: 700;
  border: 0;
  padding: 7px 10px;
}

.support-row {
  width: 880px;
  margin-left: auto;
  margin-right: auto;
}
.support {
  padding-left: 60px;
  position: relative;
  margin-bottom: 40px;
}
.support h3 {
  color: #3584dc;
  font-size: 2rem;
  margin: 0;
}
.support .icon {
  position: absolute;
  top: 5px;
  left: 0;
  width: 33px;
  height: 24px;
  background: url(../../assets/images/sprite.png) no-repeat 0 0;
}
.icon.road { background-position: 0 0; }
.icon.leaf { background-position: -34px 0; }
.icon.house { background-position: 0 -24px; }

.big-bar {
  background: #ededed;
  padding-top: 35px;
  padding-bottom: 40px;
  width: 100%;
}

.projects{
}

.projects h2 { 
  text-align: center; 
  text-transform: uppercase;
  font-weight: 700;
  color: #3584dc;
  font-size: 3rem;
  padding-top:20px;
  padding-bottom:20px;
}

.project {
  padding: 10px 10px 10px 10px;
  margin: 0px auto;
  background: #f7f7f7;
  border: 1px solid #ececec;
}
.project img {
  max-width: 100%;
}
.project h3 {
  text-align: center; 
  font-size: 1.6rem;
  color: #3584dc;
  margin: 0px;
}


.people{
}


.people h2 { 
  text-align: center; 
  text-transform: uppercase;
  font-weight: 700;
  color: #3584dc;
  font-size: 3rem;
  padding-top:20px;
  padding-bottom:20px;
}

.person {
  padding: 10px 10px 10px 10px;
  margin: 0px auto;
  background: #f7f7f7;
  border: 1px solid #ececec;
}

.person img {
  max-width: 100%;
}
.person h3 {
  text-align: center; 
  font-size: 1.6rem;
  color: #3584dc;
  margin: 0px;
}



.events h2 { 
  text-align: center; 
  text-transform: uppercase;
  font-weight: 700;
  color: #3584dc;
  margin-bottom: 20px;
  font-size: 3rem;
}
.events > .container > .row {margin-right: -25px;margin-left: -25px;}
.event {
  width: 20%;
  float: left; 
  padding: 0 25px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -khtml-box-sizing: border-box;  
}
.event img {
  max-width: 100%;
  text-align: center;
  border: 4px solid #d4d4d4;
  background: #fff;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}


.partners {
  background: #ededed;
  padding-top: 35px;
  padding-bottom: 40px;
}
.partners h2 { 
  text-align: center; 
  text-transform: uppercase;
  font-weight: 700;
  color: #3584dc;
  margin-bottom: 20px;
  font-size: 3rem;
}
.partners > .container > .row {margin-right: -25px;margin-left: -25px;}
.partner {
  width: 20%;
  float: left; 
  padding: 0 25px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -khtml-box-sizing: border-box;  
}
.partner img {
  max-width: 100%;
  text-align: center;
  border: 4px solid #d4d4d4;
  background: #fff;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.fat-footer {
  background: #454545;
  color: #ffffff;
  padding-bottom: 50px;
}
.want-more {
  padding-top: 80px;
  font-weight: 300;
  line-height: 1.6;
}
.want-more h3 {
  font-size: 3.5rem;
  font-family: "Vollkorn";
  font-weight: 700;
  font-style: italic;
  line-height: 1;
  margin-bottom: 20px;
}
.social-links {margin-top: 30px; }
.social-links li {
  float: left; 
  margin-right: 20px;
}
.social-links a {display: block;}
.social-links .icon {
  background: url(../../assets/images/sprite.png) no-repeat 0 0;
  width: 24px; 
  height: 24px;
  display: inline-block;
}
.icon.facebook {background-position: -1px -140px;}
.icon.twitter {background-position: -42px -140px;}
.icon.pintrest {background-position: -80px -140px;}
.icon.vimeo {background-position: -122px -140px;}
.icon.behance {background-position: -165px -140px;}

.fat-footer-sidebar {
  padding: 30px 28px;
  background: #6d6d6d;
  font-weight: 300;
}
.fat-footer-sidebar h3 {
  font-size: 2.8rem;
  margin-bottom: 20px;
}
.sitemap li {
  margin-bottom: 15px;
}
.footer {
  background: #213263;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer a { color: #fff; }
.footer-nav {text-align: center;}
.footer-nav li {
  display: inline-block;
  padding: 3px;
  margin: 0 30px;
}
